
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
  margin: 0;
  height: 100%;
  padding: 0;
  position: absolute;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
*{box-sizing: border-box;}


.App{
  text-align: center;
  transition: 1s;

}
.App.success{
  transform: translateY(-100vh);
}
.popup{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid #41ad49;
  border-radius: 20px;
  padding: 15px;
  width: 300px;
  background: #c7ffcb;
  box-shadow: 0 0 11px #c7ffcb;
}

.box  p{
  color: #1e7725;
}
.box img {
  width: 120px;
}
.box h2 {
  color: #41ad49;
}
.row{
  display: flex;
  align-items: center;
}

#accept{
  margin: 0;
  margin-right: 5px;
  width: unset;
  
}
.App-header > h3{
  color: black;
  text-decoration: underline;
}
.select-lng {
  top: 15px;
  display: inline-block;
  position: absolute;
  right: 15px;
}

.select-lng select{
  border-radius: 5px;
    padding: 4px;
    font-size: 16px;
    text-transform: uppercase;
    background: #3f51b5;
    color: white;
}
.App-header{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center-step{
  display: flex;
  justify-content: center;
}

